@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;400&family=Roboto:wght@300;500&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(to bottom, rgba(35, 35, 37, 0.798), rgba(32, 30, 32, 0.86)),
    url(https://images.pexels.com/photos/958982/pexels-photo-958982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
}
.card{
   margin: 1rem;
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items: center;
   width: 60%;
   height: 80%;
   background-image: url(https://images.pexels.com/photos/958982/pexels-photo-958982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
   background-size: cover;
   background-repeat: no-repeat;

}
.card-left{
    height:100%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.card-right{
    height: 100%;
    width: 45%;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(10, 31, 44, 0.595);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px ); 
}
.conditions{
    padding: 15px 10px;
  border-bottom: 1px solid rgb(165, 165, 165);
  border-top: 1px solid rgb(165, 165, 165);
    
}
p{
    margin: 2rem 0;
    font-size: 1.1rem;
    letter-spacing: 2px;
}
.conditions div{
    margin: 1rem 0;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search_bar{
border: none;
outline: none;
border-bottom: 1px solid #fff;
background: transparent;
color: white;
padding: 5px 10px;
width: 90%;
font-size: 1.2rem;
}
#searchBtn{
    background-color:transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
  margin:0 1rem;
}
#searchBtn:hover{
    background-color: #706f6f;
}
.city{
    margin: 3rem 0;
    font-size: 1.1rem;
}
.temp{
    font-size:2.5rem;
    font-weight: 900;
    margin: 3rem 0;
}

.descr{
    text-transform: capitalize;
    margin-bottom: 3rem;
}
img{
    margin-bottom: -1rem;
}